
/*html,
body,
.intro {
    height: 100%;
}

.gradient-custom-1 {*/
    /* fallback for old browsers */
    /*background: #cd9cf2;*/
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to top, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to top, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

tbody td {
    font-weight: 500;
    color: #999999;
}
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}*/


/*.container {
    padding-left: 350px;
}*/

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 50px !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px !important;
}

/* Toastr override */
#toast-container {
    margin-top: 50px !important;
}
